.image-wrapper {
    text-align: center;
}

.image-wrapper .image-caption {
    color: #d28445;
    font-size: 14px;
    margin-top: 1rem;
    line-height: 1.1;
}

.image-wrapper img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
